<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中青华云事件报告管理平台</title>
<link rel="stylesheet" href="${rc.contextPath}/css/common/base.css"  type="text/css" />

<script type="text/javascript">
	var ctx = "${rc.contextPath}";
</script>

<link rel="stylesheet" type="text/css" href="${rc.contextPath}/css/dk_default.css" />
<script type="text/javascript" src="${rc.contextPath}/js/common/jquery-1.11.1.min.js" language="javascript"></script>
<script type="text/javascript" src="${rc.contextPath}/js/common/jquery.placeholder.js" language="javascript"></script>

<script src="${rc.contextPath}/js/common/jquery-ui.min.js" type="text/javascript" ></script>
<script src="${rc.contextPath}/js/common/jquery.nicescroll.js" type="text/javascript" ></script>
<script src="${rc.contextPath}/js/common/tinyscrollbar.js" type="text/javascript" ></script>

<script src="${rc.contextPath}/js/common/layer/layer.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/gengeral.js" type="text/javascript" ></script>
<script src="${rc.contextPath}/js/global-standard.js" type="text/javascript" ></script>
<script src="${rc.contextPath}/js/global-application.js" type="text/javascript" ></script>

</head>
<body>
	
	
	