<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://code.alibabatech.com/schema/dubbo dubbo.xsd">
    
    <dubbo:application name="${project.name}"/>

 	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"  group="dubbo-${dubbo.registry.group}"
 	file="${dubbo.registry.file}" check="false"/>

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" threadpool="fixed" threads="${dubbo.protocol.threads}" />

	<dubbo:provider timeout="${dubbo.provider.timeout}"/>
	
	<dubbo:consumer timeout="${dubbo.consumer.timeout}" check="false"/>
	
	<dubbo:annotation package="com.cyyun.reportonline.service.impl.dubbo" />
<!-- 		<dubbo:service ref="taskService" interface="com.cyyun.fm.service.TaskService" version="1.0.0" registry="ljw" /> -->
</beans>
